@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(32, 31, 31);
  justify-content: space-around;
  z-index: 5;
}
header nav .container-fluid {
  background-color: rgb(173, 168, 168);
  padding-left: 35px;
  padding-right: 45px;
}
header nav .container-fluid img {
  width: 298px;
  margin-right: 10px;
  border-radius: 100px;
  border: 100px;
  background-color: rgb(173, 168, 168);
}
header nav .container-fluid .nav-item {
  margin: 15px;
}
header .contactos1 img {
  width: 55px;
  margin: 20px;
  left: 34px;
  border-radius: 100px;
}
header .contactos1 img:hover {
  transition: 1s;
  animation-delay: 8s;
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 480px) {
  header {
    display: block;
    padding: 0px;
    margin: 0px;
    width: 29.9rem;
    height: 12.5%;
  }
  header nav .container-fluid {
    padding: 0%;
    width: 29.9rem;
    height: 14%;
    margin: 0%;
  }
  header nav .container-fluid img {
    width: 15rem;
    margin: 1rem;
  }
  header .contactos1 img {
    margin: 0.5rem;
    margin-left: 4.5rem;
    width: 3.4rem;
  }
}

.map {
  border-radius: 30px;
  width: 27rem;
}
@media only screen and (max-width: 480px) {
  .map {
    width: 25rem;
    height: 20rem;
  }
}

main img {
  width: 1348px;
  height: 650px;
}
main h2 {
  font-size: 27px;
  text-align: center;
  color: rgb(61, 59, 59);
  margin: 27px;
}
main .seccion1 {
  display: flex;
  align-items: center;
}
main .seccion1 .map {
  margin-left: 11rem;
}
main .seccion1 img {
  width: 525px;
  height: 425px;
  margin-left: 6rem;
  padding: 30px 0px 40px;
  border-radius: 15px;
}
main .subtitulo1 {
  font-size: 25px;
  text-align: center;
  color: rgb(61, 59, 59);
  margin: 27px;
}
main .subtitulo3 {
  font-size: 25px;
  text-align: center;
  color: rgb(61, 59, 59);
  margin: 27px;
}
@media only screen and (max-width: 480px) {
  main img {
    width: 29.9rem;
    height: 13rem;
  }
  main h2 {
    margin: 5rem;
    font-size: 2rem;
    margin: 2rem;
  }
  main .seccion1 {
    display: block;
  }
  main .seccion1 .map {
    margin-left: 2rem;
  }
  main .seccion1 img {
    margin-left: 4.9rem;
    margin-top: -2rem;
    width: 20rem;
    height: 19rem;
    border-radius: 15px;
  }
  main .subtitulo1 {
    font-size: 1.9rem;
    color: rgb(29, 28, 28);
    margin: 15px;
  }
  main .subtitulo3 {
    font-size: 1.6rem;
    color: rgb(27, 27, 27);
    margin: 15px;
    margin-left: 0%;
  }
}

.expocicion {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  margin: 10px;
}
.expocicion img {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 10px;
}
@media only screen and (max-width: 480px) {
  .expocicion {
    display: block;
    border: none;
    margin-left: 7.9rem;
  }
  .expocicion img {
    border: 3px solid black;
    margin: 3%;
    padding: 3%;
  }
}

footer {
  color: white;
  background-color: rgb(29, 27, 27);
  padding: 30px;
  margin: 0px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin: 1rem;
}
@media only screen and (max-width: 480px) {
  footer {
    width: 29.9rem;
  }
}

.conteiner_form {
  margin-left: 6rem;
  display: flex;
  background-color: rgb(150, 143, 143);
  width: 430px;
  height: 350px;
  padding: 10px;
  border: 4px solid black;
}
.conteiner_form .formulario #sucursal {
  margin: 10px;
}
.conteiner_form .formulario input {
  margin: 16px;
  color: black;
}
.conteiner_form .formulario .formulario__texto {
  display: flex;
  margin: 16px;
  padding: 10px 125PX 80PX 80px;
}
.conteiner_form .formulario .boton-mixin {
  display: flex;
  background-color: rgb(32, 32, 32);
  color: rgba(235, 240, 245, 0.979);
  width: 225px;
  height: 30px;
  border: 2px solid rgb(32, 32, 32);
  border-radius: 10px;
  margin-left: 85px;
  padding-left: 86px;
}
.conteiner_form .formulario .boton-mixin:hover {
  color: blue;
  background-color: rgb(102, 133, 141);
  transition: 1s;
  animation-delay: 1s;
}
@media only screen and (max-width: 480px) {
  .conteiner_form .formulario .boton-mixin {
    margin: 6%;
    padding-left: 35%;
    width: 88%;
  }
}
@media only screen and (max-width: 480px) {
  .conteiner_form {
    margin: 1rem;
    margin-left: 5rem;
    width: 20rem;
    height: 27rem;
    display: block;
  }
  .conteiner_form .formulario {
    margin: 1rem;
    padding: 1rem;
  }
  .conteiner_form .formulario .formulario__texto {
    padding: 2rem;
    margin: 1rem;
    margin-left: -0.4rem;
  }
}

.sectcion2 {
  display: flex;
  justify-content: space-evenly;
}
.sectcion2 .card {
  margin: 1rem;
}
.sectcion2 .card .card-body {
  background-color: rgb(153, 148, 148);
  padding: 1rem;
  margin: 15px;
  width: 26rem;
  color: rgb(24, 23, 23);
}
@media only screen and (max-width: 480px) {
  .sectcion2 {
    display: block;
  }
}

#carouselExampleIndicators {
  width: 1300px;
  height: 505px;
  margin: 25px;
}
#carouselExampleIndicators .carousel-inner img {
  width: 1300px;
  height: 500px;
  margin-left: 2px;
}
@media only screen and (max-width: 480px) {
  #carouselExampleIndicators {
    margin: 2rem;
    margin-left: 5.5rem;
    height: 19rem;
    width: 19rem;
  }
  #carouselExampleIndicators .carousel-inner img {
    height: 18rem;
    width: 20rem;
  }
}

.especificasiones {
  justify-content: space-evenly;
  padding: 25px;
  margin-left: 4rem;
  display: flex;
}
.especificasiones .diseño {
  margin: 26px;
  width: 340px;
  height: 370px;
  padding: 15px;
  background-color: rgb(165, 163, 163);
}
.especificasiones .diseño h3 {
  margin: 10px;
}
.especificasiones .equpio {
  margin: 26px;
  width: 340px;
  height: 370px;
  padding: 15px;
  background-color: rgb(165, 163, 163);
}
.especificasiones .equpio h3 {
  margin: 5px;
}
.especificasiones .seguridad {
  margin: 26px;
  width: 340px;
  height: 370px;
  padding: 15px;
  background-color: rgb(165, 163, 163);
}
.especificasiones .seguridad h3 {
  margin: 10px;
}
@media only screen and (max-width: 480px) {
  .especificasiones {
    display: block;
    margin: 3.6rem;
    padding: 0%;
  }
  .especificasiones .diseño {
    margin: 3rem;
    padding: 1rem;
    width: 17rem;
    height: 32rem;
  }
  .especificasiones .equpio {
    margin: 3rem;
    padding: 1rem;
    width: 18rem;
    height: 38rem;
  }
  .especificasiones .seguridad {
    margin: 3rem;
    padding: 1rem;
    width: 18rem;
    height: 38rem;
  }
}

.map {
  margin: 30px;
  border: 5px solid black;
}

/*# sourceMappingURL=style.css.map */
