@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(32, 31, 31);
  justify-content: space-around;
  z-index: 5;
}
header nav .container-fluid {
  background-color: rgb(173, 168, 168);
  padding-left: 35px;
  padding-right: 45px;
}
header nav .container-fluid img {
  width: 298px;
  margin-right: 10px;
  border-radius: 100px;
  border: 100px;
  background-color: rgb(173, 168, 168);
}
header nav .container-fluid .nav-item {
  margin: 15px;
}
header .contactos1 img {
  width: 55px;
  margin: 20px;
  left: 34px;
  border-radius: 100px;
}
header .contactos1 img:hover {
  transition: 1s;
  animation-delay: 8s;
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 480px) {
  header {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  header nav .container-fluid img {
    width: 50%;
    margin: 5px;
  }
}

.map {
  margin: 30px;
  border: 5px solid black;
}

main img {
  width: 1348px;
  height: 650px;
}
main h1 {
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}
main section {
  display: flex;
  align-items: center;
}
main section img {
  width: 525px;
  height: 425px;
  margin-left: 6rem;
  padding: 30px 0px 40px;
  border-radius: 15px;
}
main h2 {
  font-size: 25px;
  text-align: center;
  color: rgb(61, 59, 59);
  margin: 27px;
}

.expocicion {
  display: flex;
  justify-content: space-between;
  border: 5px solid black;
  margin: 10px;
}
.expocicion img {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

footer {
  color: white;
  background-color: rgb(29, 27, 27);
  background-position: 50px;
  padding: 30px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin: 1rem;
}

.conteiner_form {
  margin-left: 6rem;
  display: flex;
  background-color: rgb(150, 143, 143);
  width: 430px;
  height: 350px;
  padding: 10px;
  border: 4px solid black;
}
.conteiner_form .formulario #sucursal {
  margin: 10px;
}
.conteiner_form .formulario input {
  margin: 16px;
  color: black;
}
.conteiner_form .formulario .formulario__texto {
  display: flex;
  margin: 16px;
  /* margin-left: 58px; */
  padding: 10px 125PX 80PX 80px;
  /* width: 190px; */
}
.conteiner_form .formulario .boton-mixin {
  display: flex;
  background-color: rgb(32, 32, 32);
  color: rgba(235, 240, 245, 0.979);
  width: 225px;
  height: 30px;
  border: 2px solid rgb(32, 32, 32);
  border-radius: 10px;
  margin-left: 85px;
  padding-left: 86px;
}
.conteiner_form .formulario .boton-mixin:hover {
  color: blue;
  background-color: rgb(102, 133, 141);
  transition: 1s;
  animation-delay: 1s;
}

.card {
  margin: 2rem;
  margin-bottom: 12rem;
}
.card .card-body {
  background-color: rgb(153, 148, 148);
  padding: 30px;
  color: rgb(24, 23, 23);
}

#carouselExampleIndicators {
  width: 1300px;
  height: 525px;
  margin: 25px;
}
#carouselExampleIndicators .carousel-inner img {
  width: 1300px;
  height: 500px;
  margin-left: 2px;
}

.especificasiones {
  justify-content: space-evenly;
  padding: 25px;
  margin-left: 4rem;
  display: flex;
}
.especificasiones .diseño {
  margin: 26px;
  width: 340px;
  height: 370px;
  padding: 15px;
  background-color: rgb(165, 163, 163);
}
.especificasiones .diseño h3 {
  margin: 10px;
}
.especificasiones .equpio {
  margin: 26px;
  width: 340px;
  height: 370px;
  padding: 15px;
  background-color: rgb(165, 163, 163);
}
.especificasiones .equpio h3 {
  margin: 5px;
}
.especificasiones .seguridad {
  margin: 26px;
  width: 340px;
  height: 370px;
  padding: 15px;
  background-color: rgb(165, 163, 163);
}
.especificasiones .seguridad h3 {
  margin: 10px;
}

.map {
  margin: 30px;
  border: 5px solid black;
}

/*# sourceMappingURL=style.css.map */
