@import "base/_reset.scss";
@import "utilities/_variables.scss";
@import "layouts/_header.scss";
@import "layouts/_cuerpo-de-pagina.scss";
@import "layouts/_articulos.scss";
@import "layouts/_pie-de-pagina.scss";
@import "component/_formularios.scss";
@import "component/_tarjetas.scss";
@import "component/_carrusel.scss";
@import "layouts/_especificaciones.scss";
@import "utilities/_boton.scss";
@import "utilities/_map.scss";