@import "../utilities/_mixin.scss";

@mixin mixin-boton {
    display: flex;
    background-color: rgb(32, 32, 32);
    color: rgba(235, 240, 245, 0.979);
    width: 225px;
    height: 30px;
    border: 2px  solid   rgb(32, 32, 32) ;
    border-radius: 10px;
    margin-left: 85px;
    padding-left: 86px;



        &:hover{
            color: blue;
            background-color: rgb(102, 133, 141);
            transition: 1s;
            animation-delay: 1s;   
    
    }

    @include mv(){
        margin: 6%;
        padding-left:35%;
        width: 88%;       
    }

}

