
@import "../utilities/_mixin.scss";

#carouselExampleIndicators{
        
        width: 1300px; 
        height: 505px;
        margin: 25px;
        
        

                .carousel-inner{

                        img{
                            width: 1300px;
                            height: 500px;
                            margin-left: 2px;
                            
                        }

                }
         @include mv(){
                
               margin: 2rem;
               margin-left: 5.5rem;
               height:19rem;
               width: 19rem;

                .carousel-inner {

                        img{
                            height:18rem;
                            width: 20rem;

                        }
                }
           
        }
}