@import "../utilities/_boton.scss";
@import "../utilities/_mixin.scss";


.conteiner_form{
    margin-left: 6rem;
    display: flex;
    background-color: rgb(150, 143, 143);
    width: 430px;
    height: 350px;
    padding: 10px;
    border:  4px solid black;

        .formulario{
        

            #sucursal{
                margin: 10px;
            }

            input{
                margin: 16px;
                color: black;
            }
            
            .formulario__texto{
                display: flex;
                margin: 16px;
                padding: 10px 125PX 80PX 80px;
            }

            .boton-mixin{
                @include mixin-boton
            }


        }
      
     @include mv(){
        margin:1rem;
        margin-left: 1.96rem;
        width: 20rem;
        height:27rem;

        display: block; 
        

            .formulario{
                margin: 1rem;
                padding: 1rem;
            
                .formulario__texto{
                    padding: 2rem;
                    margin: 1rem;
                    margin-left: -0.4rem;
                }
            }
     }
}


