@import "../utilities/_mixin.scss";


.map{
    border-radius:  30px;
    width:27rem;

        @include mv(){
            margin-left: 100%;
            width: 25rem;
            height: 20rem;
    }   
}