@import "../utilities/_mixin.scss";

.map{
    display: flex;
    margin: 100px;
    margin-top: 70px;
    margin-left: 30px;
    border-radius:  30px;
    width: 140px;

        @include mv(){
            margin-left: 100%;
            width: 25rem;
            height: 20rem;
    }   
}