.card{
    margin: 2rem;
    margin-bottom: 12rem;
   

    .card-body{
        background-color: rgb(153, 148, 148);
        color: rgb(24, 23, 23);
        
    }

}



// .subtitulo2{
//         margin: 20px;
//         text-align: center;
//         font-size: 23px;
//         color: rgb(61, 59, 59);
// }

