@import "../utilities/_mixin.scss";


.sectcion2{
    display:flex ;
    justify-content:space-around;
    margin-left: 0rem;

    .card{
        margin: 1rem;

        .card-body{
            background-color: rgb(153, 148, 148);
            padding: 1rem;
            margin: 0.5rem;
            width: 26rem;
            color: rgb(24, 23, 23);
        
        }

       
    }

    @include mv(){

        .sectcion2 {
            display: block;
            z-index: 5;


            .card-body{
                display: block;
                margin-left: 4rem;

            }
        }
    }
}

