@import "../utilities/_mixin.scss";


section{
    display:flex ;

    justify-content:space-evenly;
    
    .card{
        margin: 2rem;
        margin-bottom: 12rem;
   

        .card-body{
            background-color: rgb(153, 148, 148);
            padding: 30px;
            color: rgb(24, 23, 23);
        
        }

        @include mv(){

            section {
                margin-left: 30%;
                z-index: 5;

                .card-body{
                    display: block;
    
                }
            }
        }
    }
}

