@import "../utilities/_mixin.scss";

.expocicion {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    margin: 10px;
     
    img{
        width: 200px;
        height: 200px;
        padding: 5px;
        margin: 10px;
    }
    @include mv(){

        display: block;
        border: none;
        margin-left: 11%;
        

        img {
            border: 3px solid black;
            margin: 3%;
            padding: 3%;


        }
          
    }
}



