@import "../component/mapas";
@import "../utilities/_mixin.scss";


main {

    img{
        width: 1348px;
        height:650px; 
    }

    h2{
            font-size: 27px;
            text-align: center;
            color:rgb(61, 59, 59);
            margin: 27px;
    }


    .seccion1{
        display: flex;
        align-items: center;

            .map{
                margin-left: 11rem;
            }
        
            img {
                width: 525px;
                height: 425px;
                margin-left: 6rem;
                padding: 30px 0px 40px;
                border-radius: 15px;
            }
        }
         
    .subtitulo1{
            font-size: 25px;
            text-align: center;
            color:rgb(61, 59, 59);
            margin: 27px;
    }

    .subtitulo3{
            font-size: 25px;
            text-align: center;
            color:rgb(61, 59, 59);
            margin: 27px;
    }


@include mv(){
                img{
                    width: 25.5em;
                    height:13rem;
                }
                
                h2{
                    margin: 5rem;
                    font-size: 17px;
                    margin: 2rem;
                }

            .seccion1{
            display: block;
            
            .map{
                margin-left: 2rem;
            }

            img { 
                margin-left: 2.9rem;
                margin-top: -2rem;
                width: 18rem;
                height: 16rem;
                border-radius: 15px;
            }
        }
        .subtitulo1{
            font-size: 18px;
            color:rgb(29, 28, 28);
            margin: 15px;
            
        }

        .subtitulo3{
            font-size: 1.2rem;
            color:rgb(27, 27, 27);
            margin: 15px;
            margin-left: 0%;
        
        }   

    }

}

