@import "../utilities/_variables.scss";
@import "../utilities/_mixin.scss";

.especificasiones{
    justify-content: space-evenly;
    padding: 25px;
    margin-left: 4rem;
    display: flex;


    .diseño {
        margin: $marg;
        width: $ancho;
        height: $alto;
        padding: $pad;
        background-color: $backg-esp;

        h3 {
            margin: 10px;
        }
        
    }

    .equpio{
        margin: $marg;
        width: $ancho;
        height: $alto;
        padding: $pad;
        background-color: $backg-esp;

        h3 {
            margin: 5px;
        }
        
    }
    .seguridad {
        margin: $marg;
        width: $ancho;
        height: $alto;
        padding: $pad;
        background-color: $backg-esp;

        
            h3 {
            margin: 10px;
        }
        
    }
    @include mv(){
        display: block;
        margin: 3.6rem;
        padding: 0%;   

            .diseño{
                margin: 3rem;
                padding: 1rem;
                width: 16rem;
                height: 27rem;
            }

            .equpio{
                margin: 4rem;
                padding: 1rem;
                width: 15rem;
                height: 30rem;
            }

            .seguridad{
                margin: 4rem;
                padding: 1rem;
                width: 15rem;
                height: 34rem;
            }

    }
}
