@import "../utilities/_mixin.scss";



header{
    display: flex;
    align-items: center;
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: rgb(32, 31, 31);
    justify-content: space-around;
    z-index: 5;

    

    
    nav{

        .container-fluid{
            background-color: rgb(173, 168, 168);
            padding-left: 35px;
            padding-right: 45px;
    
            img{
                width: 298px;
                margin-right: 10px;
                border-radius: 100px;
                border: 100px;
                background-color: rgb(173, 168, 168);
                }
    
        
                .nav-item{
                    margin: 15px;
                   
                }
    
        }
    }


    .contactos1{
        img{
            
            width: 55px;
            margin: 20px;
            left: 34px;
            border-radius: 100px;

            &:hover {
                transition: 0.4s;
                animation-delay: 10s;
                width: 70px;
                margin:5px ;

            }
        }
    }
    
    @include mv(){
        display: block;
        padding: 0px;
        margin: 0px;
        width: 25.7em;
        height: 12.5%;


            nav {
                
                .container-fluid{
                    padding: 0%;
                    width: 25.7em;
                    height:14%;
                    margin: 0%;

                    img{
                        width: 13rem;
                        margin: 1rem; 
                    }
                }
            }
        .contactos1{
            img{
                margin: 0.5rem;
                margin-left: 3.98rem;
                width: 2.7rem ;
            
            }
        }

    }

}