header{
    display: flex;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: rgb(32, 31, 31);
    justify-content: space-around;
    z-index: 5;


        img{
            width: 298px;
            border-radius: 100px;
            border: 100px;
            background-color:rgb(71, 70, 70);
            }


    nav{
        .item{
            font-size: 22px;
            margin: 30px;
            color: rgb(83, 80, 80) ;    
        }

        .link{
            color: white;
        }

    }

    .container-fluid{
        background-color: rgb(75, 73, 73);
    }
    

    .contactos1{
        img{
            width: 50px;
            margin: 25px;
            left: 34px;
        }
    } 


}







