@import "../utilities/_mixin.scss";


footer {
    color: white;
    background-color:  rgb(29, 27, 27);
    padding: 30px;
    margin: 0px;


    ul {
        list-style-type: none;

        li {
            margin: 1rem;
        }
    }

@include mv(){
    width: 25.5em;

}


}
