
footer {
    color: white;
    background-color:  rgb(29, 27, 27);
    background-position: 50px;
    padding: 30px;


    ul {
        list-style-type: none;

        li {
            margin: 1rem;
        }
    }
}
